parameters:
    level: 8
    paths:
        - src
        - tests
    bootstrapFiles:
        - vendor/autoload.php
    reportUnmatchedIgnoredErrors: false

includes:
  - vendor/nowo-tech/phpstan-frankenphp/ruleset-classic.neon
  - vendor/nowo-tech/phpstan-frankenphp/ruleset-worker.neon
